<body class="background">
    <form action="/admin/users/new" method="POST" class="background">
        <h1 class="homeTitle">Add new team</h1>
        <div>
            {{> edition}}
            <div class="homeButtons">

                <button class="homeButton1 homeButton">Create user</button>
                <button class="homeButton1 homeButton"><a class="homeButton" href="/admin/users">Go back</a></button>
            </div>
        </div>
    </form>
</body>