

<body class="search">
    <main class="searchMain search">
        <section>
            <h1 class="searchTitle">Search for Teams</h1>
            <form class="searchForm" action="/search" method="POST">
                <input
                    class="searchInput"
                    name="q"
                    placeholder="Search for team"
                />
                <button class="searchButton">Search</button>
            </form>
        </section>

        <section class="searchHome">
            <div>
                <a class="searchButton" href="/">HOME</a>
            </div>
        </section>
    </main>
</body>
